/*
 * @file
 * Style Tripal BLAST programs page:
 */
 
#tripal-blast-wrapper-checkbox-example-sequence {
  float: right;
  margin: 0;
  padding: 0;
}

#tripal-blast-wrapper-ajax-fasta-textarea textarea {
  font-family: monospace, monospace;
  font-size: 11px;
}

.tripal-blast-tip {
  font-style: italic;
}
