/*
 * @file
 * Style Tripal BLAST UI page:
 */
 
/** 
 * Page, classes:
 */ 
.tripal-blast-element-left {
  float: left;
  text-align: left;
}

.tripal-blast-element-right {
  float: right;
  text-align: right;
}

.tripal-blast-clear-float {
  clear: both;
  height: 0;
}

/** 
 * Tripal BLAST Navigation:
 */ 
#tripal-blast-navigation {
  position: relative;
}

#tripal-blast-navigation .tripal-blast-element-left {
  width: 40%;
}

#tripal-blast-navigation .tripal-blast-element-right {
  bottom: 10px;
  height: inherit;
  position: absolute;
  right: 0;
  width: 55%;
}

#tripal-blast-navigation .tripal-blast-element-right a {
  font-size: 0.9em;
}

/** 
 * Tripal BLAST Accordion:
 * Accordion override styles.
 * http://api.jqueryui.com/accordion/#theming
 */
.ui-accordion .ui-accordion-header {
  background-color: #314355;
  border-color: #314355;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  font-size: 1.7em; 
  position: relative;
  margin: 2px 0 0 0;
  padding: 10px 10px 10px 60px;

  background-image: url('../templates/assets/images/icon-tripal-blast-db-query.png');
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position-x: 20px;
  background-position-y: center;
}

.ui-accordion .ui-accordion-header-active:after {
  content: "\276F";
  float: right;
  margin-right: 18px;
  transform: rotate(90deg);
}

.ui-accordion .ui-accordion-header-collapsed:after {
  content: "\276F";
  float: right;
  margin-right: 16px;
}

.ui-accordion .ui-accordion-content {
  background-color: #efefef;  
  border-top: 0;
}

.ui-accordion .ui-accordion-content h4,
.ui-accordion .ui-accordion-content small {
  margin: 0;
  padding: 0;	
}

.ui-accordion .ui-accordion-content h4 {
  font-size: 1.4em;
}

.ui-accordion .ui-accordion-content small {
  color: #777777;
  font-size: 0.9em;	
  font-weight: 300;
}

.ui-accordion .tripal-blast-content-wrapper {
  border-bottom: 1px solid #FFFFFF;
  padding: 18px 22px 18px 18px;	
}

.ui-accordion .tripal-blast-content-wrapper:last-child {
  border: none;
}

#tripal-blast-accordion .tripal-blast-element-right a {
  font-size: 1.5em;
}

#tripal-blast-accordion .tripal-blast-content-wrapper {
  -webkit-transition: background-color 1.5s ease-out;
  -moz-transition: background-color 1.5s ease-out;
  -o-transition: background-color 1.5s ease-out;
  transition: background-color 1.5s ease-out;
}

#tripal-blast-accordion .tripal-blast-content-wrapper:hover {
  background-color: #F6FFEC;
}

#tripal-blast-accordion .tripal-blast-element-left {
  width: 70%;
}

#tripal-blast-accordion .tripal-blast-element-right {
  width: 20%;
}