
/**
 * @file
 * Handles CSS Themeing of the BLAST Results
 */

#blast_report h4 {
  margin: 0px;
  padding: 0px;
}
#blast_report img {
  float:right;
}
#blast_report ul {
  margin:10px 0 10px 10px;
  padding: 0px;
}
#blast_report th {
  text-align: left;
}
#blast_report tr.odd td {
  cursor:pointer;
}
#blast_report .arrow {
  background:transparent url('../images/arrows.png') no-repeat scroll 0px -16px;
  width:16px;
  height:16px;
  display:block;
}
#blast_report div.up {
  background-position:0px 0px;
}
#blast_report td.number, #blast_report th.number {
  width: 10px;
}
#blast_report td.evalue, #blast_report th.evalue {
  width: 100px;
  border-right: none;
}
#blast_report td.arrow-col, #blast_report th.arrow-col {
  width: 10px;
  border-left: none;
}

/**
 * Alignment
 */
#blast_report tr.alignment-row .title{
  font-weight: bold;
}
#blast_report tr.alignment-row .hsp-title{
  padding-top: 15px;
  font-weight: bold;
}
#blast_report tr.alignment-row{
  width: 100%;
}
#blast_report .alignment {
  width: 625px;
}
#blast_report .alignment-title {
  font-weight: bold;
}
#blast_report div.alignment-row{
  padding: 10px 30px;
  font-family: monospace;
  white-space: nowrap;
}
#blast_report div.alignment-subrow{
  padding-bottom: 15px;
}