
/**
 * @file
 * Handles CSS Themeing of the BLAST Results
 */

/* -- Ensure users see lack of results. */
p.blast-no-results {
  color: red;
  font-weight: bold;
  font-style: italic;
}

/* -- Theme the table of results */
table#blast_report th {
  text-align: left;
}
table#blast_report tr td {
  vertical-align : top;
}
table#blast_report tr.odd td {
  cursor:pointer;
  vertical-align : top;
}
table#blast_report .arrow {
  background:transparent url('../images/arrows.png') no-repeat scroll 0px -16px;
  width:16px;
  height:16px;
  display:block;
}
table#blast_report div.up {
  background-position:0px 0px;
}
table#blast_report td.number, #blast_report th.number {
  width: 10px;
  border-left: none;
}
table#blast_report td.evalue, #blast_report th.evalue {
  width: 100px;
}
table#blast_report td.arrow-col, #blast_report th.arrow-col {
  width: 10px;
  border-right: none;
}

/* -- Alignment */
table#blast_report tr.alignment-row .title{
  font-weight: bold;
}
table#blast_report tr.alignment-row .hsp-title{
  padding-top: 15px;
  font-weight: bold;
}
table#blast_report tr.alignment-row{
  width: 100%;
}
table#blast_report .alignment {
  width: 625px;
}
table#blast_report .alignment-title {
  font-weight: bold;
}
table#blast_report div.alignment-row{
  padding: 10px 30px;
  font-family: monospace;
  white-space: nowrap;
}
table#blast_report div.alignment-subrow{
  padding-bottom: 15px;
}
