{#
/**
 * Template to keep the user updated on the progress of their BLAST
 *
 * Available Variables:
 *  - $status_code: a numerical code describing the status of the job. See the table
 *    below for possible values.
 *  - $status: a string describing the status of the job. See the table below for
 *    possible values
 *
 *    CODE    STATUS      DESCRIPTION
 *     0      Pending     The tripal job has been created but has not yet been launched.
 *     1      Running     The Tripal job is currently running.
 *    999     Cancelled   The Tripal job was cancelled by an administrator.
 */
#}

<div>
  {% if job.status_code === 0 %}
    <p>Your BLAST has been registered and will be started shortly. This page will automatically refresh.</p>
  {% elseif job.status_code === 1 %}
    <p>Your BLAST job is currently running. The results will be listed here as soon as it completes. This page will automatically refresh.</p>
  {% elseif job.status_code === 999 %}
    <p>Unfortunately your BLAST job has been cancelled by an Administrator. This page will automatically refresh.</p>  
  {% endif %}
</div>